<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hya.mapper.ArticleMapper">


    <update id="updateBathViewCountsById" parameterType="list">
        update blog_article
        set view_counts =
        <foreach collection="list" item="item" separator="" open="CASE id" close="end">
            when #{item.id} then #{item.viewCounts}
        </foreach>
        where id in
        <foreach collection="list" open="(" item="item" close=")" separator=",">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>

    <insert id="addArticleTags">
        insert into blog_article_tag(article_id,tag_id) values
        <foreach collection="tags" item="tag" separator=",">
            (#{tag.articleId},#{tag.tagId})
        </foreach>
    </insert>
</mapper>