<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hya.mapper.TagMapper">

    <select id="getTagsById" resultType="com.hya.common.vo.TagVo">
        select * from blog_tag
                 where id in
                       (select tag_id from blog_article_tag where article_id=#{articleId})
    </select>


</mapper>