<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hya.blog.mapper.ArticleMapper">

<!--    <resultMap id="articleCategoryMap" type="com.hya.blog.common.domain.ArticleDO">-->
<!--        <id column="id" property="id"/>-->
<!--        <result column="title" property="title"/>-->
<!--        <result column="content" property="content"/>-->
<!--        <result column="status" property="status"/>-->
<!--        <result column="deleted" property="deleted"/>-->
<!--        <result column="create_by" property="createBy"/>-->
<!--        <result column="create_time" property="createTime"/>-->
<!--        <result column="update_by" property="updateBy"/>-->
<!--        <result column="update_time" property="updateTime"/>-->
<!--        <result column="is_top" property="top"/>-->
<!--        <result column="view_count" property="viewCount"/>-->
<!--        <association property="category" column="category_id" javaType="com.hya.blog.common.domain.CategoryDO" select="com.hya.blog.mapper.CategoryMapper.selectById"/>-->
<!--    </resultMap>-->

<!--    <select id="selectByClassId" resultType="com.hya.blog.common.domain.ArticleDO">-->
<!--        select * from articleDO where category_id=#{id}-->
<!--    </select>-->

</mapper>