<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hya.blog.mapper.CategoryMapper">
<!--<resultMap id="categoryArticleMap" type="com.hya.blog.common.domain.CategoryDO">-->
<!--    <id column="id" property="id"/>-->
<!--    <result column="pid" property="pid"/>-->
<!--    <result column="status" property="status"/>-->
<!--    <result column="deleted" property="deleted"/>-->
<!--    <result column="create_by" property="createBy"/>-->
<!--    <result column="create_time" property="createTime"/>-->
<!--    <result column="update_by" property="updateBy"/>-->
<!--    <result column="update_time" property="updateTime"/>-->
<!--    <collection property="articleList" column="id" select="com.hya.blog.mapper.ArticleMapper.selectByClassId"/>-->
<!--</resultMap>-->

</mapper>